{% include 'include/header.html' %}
{% include 'include/nav.html' %}

<main class="logs-container">

    <h2>사고 이력</h2>

    <section class="logs-box">

        <table>

            <thead>
                <tr>
                    <th>번호</th>
                    <th>발생 시간</th>
                    <th>감지 유형</th>
                    <th>위험 위치</th>
                    <th>상태</th>
                </tr>
            </thead>

            <tbody>

                {% for log in logs %}

                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ log.time }}</td>
                    <td>{{ log.type }}</td>
                    <td>{{ log.location }}</td>
                    <td>{{ log.status }}</td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </section>

</main>

{% include 'include/footer.html' %}